{% extends 'website/base.html' %}
{% load static %}
{% block content %}


<div class="stricky-header stricked-menu main-menu">
    <div class="sticky-header__content"></div><!-- /.sticky-header__content -->
</div><!-- /.stricky-header -->
<section class="page-header" style="background-color: black;">
    <div class="page-header__bg"></div><!-- /.page-header__bg -->
    <div class="page-header__shape1"></div><!-- /.page-header__shape1 -->
    <div class="page-header__shape2"></div><!-- /.page-header__shape1 -->
    <div class="page-header__shape3 wow slideInRight" data-wow-delay="300ms"></div><!-- /.page-header__shape3 -->
    <div class="container">
        <ul class="page-header__breadcrumb list-unstyled">
            <li><a href="index.html">Home</a></li>
            <li><span>Blog</span></li>
        </ul><!-- /.page-breadcrumb list-unstyled -->
        <h2 class="page-header__title" style="color:white">Blog </h2><!-- /.page-title -->
    </div><!-- /.container -->
</section><!-- /.page-header -->
<div class="blog-page" style="background-color: black;">
    <div class="container">

<div class="row">
    {% for post in posts %}
    <div class="col-md-4 ">   
        <div class="item">
                <div class="blog-one__item">
                    <div class="blog-one__image">
                        <img  src="{{ post.image.url }}" alt="{{ post.title }}">
                        <a href="{% url 'blog:blog-details' post.id %}"></a>
                        <div class="blog-one__date">
                            <span>{{ post.date_posted|date:"d" }}</span>
                            {{ post.date_posted|date:"F" }}
                        </div><!-- /.blog-date -->
                    </div><!-- /.blog-image -->
                    <div class="blog-one__content">
                        <h3 class="blog-one__title">
                            <a href="{% url 'blog:blog-details' post.id %}">{{ post.title|slice:":20" }}</a>
                        </h3><!-- /.blog-title -->
                        <a href="{% url 'blog:blog-details' post.id %}" class="nisoz-btn">
                            <span class="nisoz-btn__shape"></span><span class="nisoz-btn__shape"></span><span
                                class="nisoz-btn__shape"></span><span class="nisoz-btn__shape"></span>
                            <span class="nisoz-btn__text">Read More<span class="icon-right-arrow"></span></span>
                        </a><!-- /.blog-read-more -->
                    </div><!-- /.blog-content -->
                </div><!-- /.blog-card-one -->
        </div>
    </div>
        {% empty %}
            <p>No posts available.</p>
        {% endfor %}
        </div>
</div>


{% endblock %}