{% extends 'website/base.html' %}
{% load static %}
{% block content %}


        <div class="stricky-header stricked-menu main-menu">
            <div class="sticky-header__content"></div><!-- /.sticky-header__content -->
        </div><!-- /.stricky-header -->
        <section class="page-header">
            <div class="page-header__bg"></div><!-- /.page-header__bg -->
            <div class="page-header__shape1"></div><!-- /.page-header__shape1 -->
            <div class="page-header__shape2"></div><!-- /.page-header__shape1 -->
            <div class="page-header__shape3 wow slideInRight" data-wow-delay="300ms"></div><!-- /.page-header__shape3 -->
            <div class="container">
                <ul class="page-header__breadcrumb list-unstyled">
                    <li><a href="index.html">Home</a></li>
                    <li><span>Blog</span></li>
                </ul><!-- /.page-breadcrumb list-unstyled -->
                <h2 class="page-header__title" style="color:white">Blog Details</h2><!-- /.page-title -->
            </div><!-- /.container -->
        </section><!-- /.page-header -->
        <div class="blog-details" style="background-color: black;">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-xl-8 col-lg-7">
                        <div class="blog-details__content">
                            <div class="blog-details__img">
                                <img src="{% static 'assets/images/blog/blog-details-1.jpg' %}" alt="nisoz">
                                <div class="blog-details__date">
                                    <span>30</span>
                                    June, 2023
                                </div>
                            </div><!-- details-image -->
                            <div class="blog-details__meta">
                                <div class="blog-details__meta__cats">
                                    <span class="fas fa-tags"></span><a href="blog-list-right.html">Design</a>
                                </div>
                                <span class="fas fa-comments"></span>2 Comments
                            </div><!-- /.details-meta -->
                            <h3 class="blog-details__title">Five ways that can develop your business website</h3><!-- details-tiele -->
                            <p class="blog-details__text">
                                There are many variations of passages of Lorem Ipsum available, but majority have suffered alteration in some form, by injected humour,
                                or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum. There are many
                                variations of passages of Lorem Ipsum available, but majority have suffered alteration in some form, by injected humour,
                                or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum.
                                There are many variations of passages of Lorem Ipsum available, but majority have suffered alteration in some form,
                                by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage
                                of Lorem Ipsum. Suspendisse ultricies vestibulum vehicula. Proin laoreet porttitor lacus. Duis auctor vel ex eu elementum.
                                Fusce eu volutpat felis. Proin sed eros tincidunt, sagittis sapien eu, porta diam. Aenean finibus scelerisque nulla non facilisis.
                                Fusce vel orci sed quam gravida condimentum. Aliquam condimentum, massa vel mollis volutpat, erat sem pharetra quam, ac mattis arcu
                                elit non massa. Nam mollis nunc velit, vel varius arcu fringilla tristique. Cras elit nunc, sagittis eu bibendum eu, ultrices
                                placerat sem. Praesent vitae metus dolor. Nulla a erat et orci mattis auctor.
                            </p>
                            <p class="blog-details__text">
                                Mauris non dignissim purus, ac commodo diam. Donec sit amet lacinia nulla. Aliquam quis purus in justo pulvinar tempor.
                                Aliquam tellus nulla, sollicitudin at euismod nec, feugiat at nisi. Quisque vitae odio nec lacus interdum tempus.
                                Phasellus a rhoncus erat. Vivamus vel eros vitae est aliquet pellentesque vitae et nunc.
                                Sed vitae leo vitae nisl pellentesque semper.
                            </p>
                        </div><!-- details-content -->
                        <div class="blog-details__comment-form">
                            <h3 class="blog-details__comment-form__title">Leave a comment</h3>
                            <form action="https://bracketweb.com/nisoz-html/assets/inc/sendemail.php" class="contact-form-validated" novalidate="novalidate">
                                <div class="row">
                                    <div class="col-xl-6">
                                        <div class="blog-details__comment-form__input-box">
                                            <input type="text" placeholder="Your name" name="name">
                                        </div>
                                    </div>
                                    <div class="col-xl-6">
                                        <div class="blog-details__comment-form__input-box">
                                            <input type="email" placeholder="Email address" name="email">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xl-12">
                                        <div class="blog-details__comment-form__input-box">
                                            <textarea name="message" placeholder="Write  a comment"></textarea>
                                        </div>
                                        <button type="submit" class="nisoz-btn">
                                            <span class="nisoz-btn__shape"></span><span class="nisoz-btn__shape"></span><span class="nisoz-btn__shape"></span><span class="nisoz-btn__shape"></span>
                                            <span class="nisoz-btn__text">Submit Comment</span>
                                        </button>
                                    </div>
                                </div>
                            </form>
                            <div class="result"></div>
                        </div><!-- details-comment-form -->
                    </div>
                </div>
            </div>
        </div>




{% endblock %}