{% extends 'website/base.html' %}
{% load static %}
{% block content %}


<div class="stricky-header stricked-menu main-menu">
    <div class="sticky-header_content"></div><!-- /.sticky-header_content -->
</div><!-- /.stricky-header -->
<section class="page-header">
    <div class="page-header__bg"></div><!-- /.page-header__bg -->
    <div class="page-header__shape1"></div><!-- /.page-header__shape1 -->
    <div class="page-header__shape2"></div><!-- /.page-header__shape1 -->
    <div class="page-header__shape3 wow slideInRight" data-wow-delay="300ms"></div><!-- /.page-header__shape3 -->
    <div class="container">
        <ul class="page-header__breadcrumb list-unstyled">
            <li><a href="index.html">Home</a></li>
            <li><span>Blog</span></li>
        </ul><!-- /.page-breadcrumb list-unstyled -->
        <h2 class="page-header__title" style="color:white"  >Blog Details</h2><!-- /.page-title -->
    </div><!-- /.container -->
</section><!-- /.page-header -->
<div class="blog-details" style="background-color: black;">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-8 col-lg-7">
                <div class="blog-details__content">
                    <div class="blog-details__img">
                        <img style="max-width: 800px; max-height: 400px" src="{{ object.image.url }}" alt="nisoz">
                        <div class="blog-details__date">
                            <span>{{ object.date_posted|date:"d" }}</span>
                            {{ object.date_posted|date:"F" }}
                        </div>
                    </div><!-- details-image -->
                    <div class="blog-details__meta">
                        {% comment %}
                        <div class="blog-details_meta_cats">
                            <span class="fas fa-tags"></span><a href="blog-list-right.html">Design</a>
                        </div>
                        {% endcomment %}
                        <span class="fas fa-comments"></span>{{ object.comments_count }} Comments
                    </div><!-- /.details-meta -->
                    <h3 class="blog-details__title">{{ object.title }}</h3><!-- details-tiele -->
                    {{ object.content|safe }}
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}
